{% extends 'base.html' %}

{% block content %}
    <div class="row" style="margin: 2%;">
        <a href="{% url 'manufacturing:blueprint_create' %}" class="btn btn-success">Add a blueprint</a>
    </div>
    <div class="row">
        {% for blueprint in blueprint_list %}
            <div class="card" style="width: 18rem; float: left; margin: 2%">
              <div class="card-body">
                <h5 class="card-title">{{ blueprint.name }}</h5>
                <p class="card-text">{{ blueprint.manufacturing_cost }}$</p>
                <a href="{% url 'manufacturing:blueprint_edit' pk=blueprint.pk %}" class="card-link">Edit</a>
                <a href="{% url 'manufacturing:blueprint_delete' pk=blueprint.pk %}" class="card-link">Delete</a>
              </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}