{% extends 'base.html' %}

{% block content %}
    {% for car in wholesalecar_list %}
        <div class="card" style="width: 18rem; float: left; margin: 2%">
            <div class="card-body">
                <h5 class="card-title">{{ car.name }}</h5>
                <p class="card-text">{{ car.price }}$</p>
                <p class="card-text">Available: {{ car.quantity }}</p>
                <a href="{% url 'manufacturing:wholesale_car_edit' pk=car.pk %}" class="card-link">Edit</a>
                <a href="{% url 'manufacturing:wholesale_car_delete' pk=car.pk %}" class="card-link">Delete</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}