<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'manufacturing:home' %}">CarSupplyChain</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    {% if user.is_authenticated and user.manufactureradmin %}
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manufacturing:blueprints_list' %}">Blueprints <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manufacturing:wholesale_cars_list' %}">Cars</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manufacturing:wholesale_deals_list' %}">Deals</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'manufacturing:manufacturing_order' %}">Initiate a Manufacturing Order</a>
            </li>
        </ul>
      </div>
    {% elif user.is_authenticated and user.dealershipadmin %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dealership:retail_cars_list' %}">Cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dealership:retail_deals_list' %}">Retail Deals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dealership:wholesale_deals_list' %}">Wholesale Deals</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'dealership:wholesale_deal' %}">Initiate a Wholesale Deal</a>
                </li>
            </ul>
        </div>
    {% elif user.is_authenticated and user.customer %}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dealership:retail_cars_list' %}">Cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'customer:retail_deals_list' %}">Retail Deals</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'customer:retail_deal' %}">Initiate a Retail Deal</a>
                </li>
            </ul>
        </div>
    {% endif %}
</nav>