{% extends 'base.html' %}

{% block content %}
    {% for deal in wholesaledeal_list %}
        <div class="card" style="width: 18rem; float: left; margin: 2%">
              <div class="card-body">
                  <h5 class="card-title">{{ deal.car_name }}</h5>
                  <p class="card-text">Quantity: {{ deal.car_amount }}</p>
                  <p class="card-text">{{ deal.total_price }}$</p>
                  <p class="card-text">Status: {{ deal.status }}</p>
              </div>
        </div>
    {% endfor %}
{% endblock %}